
<main class='main-content bgc-grey-100'>
  <div id='mainContent'>
    <div class="container-fluid">
      <div class="row" *ngIf="order">
        <div class="col-md-12">
          <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>Продукт</th>
                <th>Количество</th>
                <th>Сумма</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th>Итого</th>
                <th>Количество</th>
                <th>{{order.totalPrice()}} руб</th>
              </tr>
              </tfoot>
              <tbody>
              <tr *ngFor="let product of order.products" [routerLink]="['/partner/order', order.id]">
                <td>{{product.product.name}}.</td>
                <td>{{product.amount}}</td>
                <td style="text-align: right">{{product.amount*product.product.price}} руб</td>
              </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>



