<div class="container">


  <form [formGroup]="productForm" #formDir="ngForm">

    <div [hidden]="formDir.submitted">

      <div class="form-group">

        <label for="name">Title</label>
        <input id="name" class="form-control"
               formControlName="name" required>

        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger">

          <div *ngIf="name.errors.required">
            name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            name must be at least 3 characters long.
          </div>
          <div *ngIf="name.errors">
            {{name.errors}}
          </div>

        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input id="description" class="form-control"
               formControlName="description">
      </div>
      <div *ngIf="description.invalid"
           class="alert alert-danger">
        <div *ngIf="description.errors">
          {{description.errors}}
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input id="price" class="form-control" type="number"
               formControlName="price" required>
      </div>
      <div *ngIf="price.invalid"
           class="alert alert-danger">
        <div *ngIf="price.errors">
          {{price.errors}}
        </div>
      </div>

      <div class="form-group">
        <label for="photo">Photo</label>
        <input id="photo" class="form-control"
               formControlName="photo" required>
      </div>
      <div *ngIf="photo.invalid"
           class="alert alert-danger">
        <div *ngIf="photo.errors">
          {{photo.errors}}
        </div>
      </div>


      <div class="form-group">
        <label for="category">Category</label>
        <input id="category" class="form-control"
               formControlName="category" required>
      </div>
      <div *ngIf="category.invalid"
           class="alert alert-danger">
        <div *ngIf="category.errors">
          {{category.errors}}
        </div>
      </div>

      <button type="submit" class="btn btn-default" (click)="submitForm()"
              [disabled]="productForm.invalid">Submit
      </button>
      <button type="button" class="btn btn-default"
              (click)="formDir.resetForm({})">Reset
      </button>
    </div>
  </form>
</div>


<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
