<div>
  <div>
    <label>
      title:
      <input type="text" [value]="product.id">
    </label>

  <div>

      description:
      <input type="text" [value]="product.description">

  </div>

  <!--<div>-->

      <!--category:-->
      <!--<input type="string" [value]="product.category">-->

  <!--</div>-->

  <div>
    <label>
      price:
      <input type="text" [value]="product.price">
    </label>
  </div>

  <div>
    <label>
      photo:
      <input type="file" [value]="product.photo">
    </label>
  </div>
</div>
