<div class="main">
  <div class="item-list"><div class="item">
    <div class="item-photo-and-price">
      <div class="item-photo-wrap">
        <img class="item-photo" src="assets/картофель фри.jpg">
      </div>
      <div class="item-price">90 руб</div>

    </div>
    <div class="item-info" >
      <h3 class="item-title">картофель фри </h3>
      <div class="item-description"> картофель фри жареный</div>
      <div class="item-count">
        <button mat-mini-fab>change</button>
        <div class="count" style="font-size: 130%"> </div>
        <button mat-mini-fab>delete</button>
      </div>

    </div>


  </div></div>

</div>


<div class="main">
  <div class="item-list"><div class="item">
    <div class="item-photo-and-price">
      <div class="item-photo-wrap">
        <img class="item-photo" src="assets/картофель фри.jpg">
      </div>
      <div class="item-price">90 руб</div>

    </div>
    <div class="item-info" >
      <h3 class="item-title">картофель фри </h3>
      <div class="item-description"> картофель фри жареный</div>
      <div class="item-count">
        <button mat-mini-fab>change</button>
        <div class="count" style="font-size: 130%"> </div>
        <button mat-mini-fab>delete</button>
      </div>

    </div>


  </div></div>

</div>

<div class="main">
  <div class="item-list"><div class="item">
    <div class="item-photo-and-price">
      <div class="item-photo-wrap">
        <img class="item-photo" src="assets/картофель фри.jpg">
      </div>
      <div class="item-price">90 руб</div>

    </div>
    <div class="item-info" >
      <h3 class="item-title">картофель фри </h3>
      <div class="item-description"> картофель фри жареный</div>
      <div class="item-count">
        <button mat-mini-fab>change</button>
        <div class="count" style="font-size: 130%">  </div>
        <button mat-mini-fab>delete</button>
      </div>

    </div>


  </div></div>

</div>

<div class="main">
  <div class="item-list"><div class="item">
    <div class="item-photo-and-price">
      <div class="item-photo-wrap">
        <img class="item-photo" src="assets/картофель фри.jpg">
      </div>
      <div class="item-price">90 руб</div>

    </div>
    <div class="item-info" >
      <h3 class="item-title">картофель фри </h3>
      <div class="item-description"> картофель фри жареный</div>
      <div class="item-count">
        <button mat-mini-fab>change</button>
        <div class="count" style="font-size: 130%"> </div>
        <button mat-mini-fab>delete</button>
      </div>

    </div>


  </div></div>

</div>
