<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile [style.background]="'#a60000 url(kfc.jpeg)'"
      [colspan]="3" [style.background-repeat]="'none'" [style.background-position]="'center'">
1 <img src="assets/kfc.jpg">
  </mat-grid-tile >
  <mat-grid-tile [style.background]="'lightblue'">
2
  </mat-grid-tile>

  <mat-grid-tile [style.background]="'#DDBDF1'">
      <div class="myclass1">
          <button mat-raised-button color="primary" [disableRipple]="true"> кнопка1
         </button>
            </div>
  <div class="myclass1">
        <button mat-raised-button color="primary" [disableRipple]="true"> кнопка1
           </button>
              </div>
3

  </mat-grid-tile>
  <mat-grid-tile [style.background]="'green'">
4
  </mat-grid-tile>

</mat-grid-list>
