<div *ngIf="store">
  <div class="col-md-3 col-xs-4 col-sm-3 text-left"><a [routerLink]="['/product/create']" class="btn btn-success btn-lg">Добавить</a></div>

  <div class="main" *ngFor="let product of store.products">
    <div class="item-list"><div class="item">
      <div class="item-photo-and-price">
        <div class="item-photo-wrap">
          <img class="item-photo" [src]="product.photo">
        </div>
        <div class="item-price">{{product.price}} руб</div>


      </div>
      <div class="item-info" >
        <h3 class="item-title">{{product.name}}</h3>
        <div class="item-description">{{product.description}}</div>
        <div class="item-count">
          <button mat-mini-fab [routerLink]="['/product/edit', product.id]">change</button>
          <div class="count" style="font-size: 130%"> </div>
          <button mat-mini-fab (click)="deleteProduct(product)">delete</button>
        </div>

      </div>


    </div></div>

  </div>
</div>


<!--<div class="main">-->
  <!--<div class="item-list"><div class="item">-->
    <!--<div class="item-photo-and-price">-->
      <!--<div class="item-photo-wrap">-->
        <!--<img class="item-photo" src="assets/картофель фри.jpg">-->
      <!--</div>-->
      <!--<div class="item-price">90 руб</div>-->

    <!--</div>-->
    <!--<div class="item-info" >-->
      <!--<h3 class="item-name">картофель фри </h3>-->
      <!--<div class="item-description"> картофель фри жареный</div>-->
      <!--<div class="item-count">-->
        <!--<button mat-mini-fab>change</button>-->
        <!--<div class="count" style="font-size: 130%"> </div>-->
        <!--<button mat-mini-fab>delete</button>-->
      <!--</div>-->

    <!--</div>-->


  <!--</div></div>-->

<!--</div>-->

<!--<div class="main">-->
  <!--<div class="item-list"><div class="item">-->
    <!--<div class="item-photo-and-price">-->
      <!--<div class="item-photo-wrap">-->
        <!--<img class="item-photo" src="assets/картофель фри.jpg">-->
      <!--</div>-->
      <!--<div class="item-price">90 руб</div>-->

    <!--</div>-->
    <!--<div class="item-info" >-->
      <!--<h3 class="item-name">картофель фри </h3>-->
      <!--<div class="item-description"> картофель фри жареный</div>-->
      <!--<div class="item-count">-->
        <!--<button mat-mini-fab>change</button>-->
        <!--<div class="count" style="font-size: 130%">  </div>-->
        <!--<button mat-mini-fab>delete</button>-->
      <!--</div>-->

    <!--</div>-->


  <!--</div></div>-->

<!--</div>-->

<!--<div class="main">-->
  <!--<div class="item-list"><div class="item">-->
    <!--<div class="item-photo-and-price">-->
      <!--<div class="item-photo-wrap">-->
        <!--<img class="item-photo" src="assets/картофель фри.jpg">-->
      <!--</div>-->
      <!--<div class="item-price">90 руб</div>-->

    <!--</div>-->
    <!--<div class="item-info" >-->
      <!--<h3 class="item-name">картофель фри </h3>-->
      <!--<div class="item-description"> картофель фри жареный</div>-->
      <!--<div class="item-count">-->
        <!--<button mat-mini-fab>change</button>-->
        <!--<div class="count" style="font-size: 130%"> </div>-->
        <!--<button mat-mini-fab>delete</button>-->
      <!--</div>-->

    <!--</div>-->


  <!--</div></div>-->

<!--</div>-->
