<div class="container menu-container">
    <div class="row top-15">
        <div class="col-md-5 col-xs-3"></div>
        <button class="col-md-2 col-xs-6 btn btn-primary btn-korzina src-common-components-common-GoToCartBar--goToCartBar-button">Корзина: 393 ₽</button>
        <div class="col-md-5 col-xs-3"></div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-3"></div>
        <div class="catalog__main top-15 col-md-6">
            <div class="catalog__left">
                <a href="Гамбургер/"><img src="https://thewalls.menu/image/cache/catalog/zakuski/gamburger-300x300.jpg" width="100%" alt="Гамбургер" title="бургер">
                </a>
            </div>
            <div class="catalog__right">
                <a href="бургер/" class="fdas" data-product-id="0000" data-list-id="1"><img src="" >
                  <mat-checkbox class="checkbox" >   чекбокс               </mat-checkbox>

                    <div class="catalog__name" itemprop="name">бургер</div>
                    <p class="catalog__description" itemprop="description">Гамбургер с котлетой, сыром и томатами
                </a>
                <div class="catalog__info" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                    <input type="hidden" name="yPrice" value="50" itemprop="price">
                    <input type="hidden" name="yPriceCurrency" value="RUB" itemprop="priceCurrency"><span class="catalog__price">50 <span class="rub">Р.</span></span>
                    <div class="catalog__qty">
                        <a href="#" class="jq-dec catalog__qty-minus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="1 1 14 14">
                                <path d="M1 7h14v2H1z"></path>
                            </svg>
                        </a><span class="jq-input catalog__qty-value">0</span>
                        <a href="https://www.google.com" class="jq-inc catalog__qty-plus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="1 1 14 14">
                                <path d="M15 7H9V1H7v6H1v2h6v6h2V9h6"></path>
                            </svg>
                        </a>
                    </div>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</div>
</div>
