<div class="sidebar">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <a href="" class="td-n">
              <i class="ti-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu scrollable pos-r">
      <li class="nav-item mT-30 active">
        <a class="sidebar-link" routerLink="/partner/orders" routerLinkActive="highlited">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-truck"></i>
                </span>
          <span class="title">Заказы</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/partner/menu" routerLinkActive="highlited">
                <span class="icon-holder">
                  <i class="c-brown-500 ti-menu-alt"></i>
                </span>
          <span class="title">Меню</span>
        </a>
      </li>

    </ul>
  </div>
</div>
