<h1>Basket</h1>
<router-outlet></router-outlet>
<!-- <div>
    <div class="container">
        <div class="row top-15 text-center">
			<div class="col-md-3 col-xs-1 col-sm-3"></div>
            <div class="col-md-3 col-xs-4 col-sm-3 text-left"><a href="hjbkjnbkj" class="btn btn-success btn-lg">Меню</a></div>
            <div class="col-md-3 col-xs-5 col-sm-3 text-right"><a href="" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-map-marker"></span> Назад на карту</span></a></div>
			<div class="col-md-3 col-xs-1 col-sm-3"></div>
		</div>
		<div class="row top-15 text-center">
			<div class="col-md-3 col-xs-3"></div>
			<div class="col-md-6 col-xs-6"><h3 class="text-center">Ваш заказ</h3></div>
			<div class="col-md-3 col-xs-3"></div>
        </div>

		<div class="table-responsive">
            <table class="table korzina-table">
                <tr>
                <tr><th>наименование</th><th>количество</th><th>цена за ед</th><th>цена</th></tr> <!--ряд с ячейками заголовков-->

<!-- <tr><td>гамбургер</td><td style="text-align: left">
                            <div class="catalog__qty text-center">
                        <a href="#" class="jq-dec btn btn btn-default" style="margin-right:7px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="1 1 14 14">
                                <path d="M1 7h14v2H1z"></path>
                            </svg>
                        </a><span class="jq-input catalog__qty-value">0</span>
                        <a href="https://www.google.com" class="jq-inc btn btn-default" style="margin-left:5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="1 1 14 14">
                                <path d="M15 7H9V1H7v6H1v2h6v6h2V9h6"></path>
                            </svg>
                        </a>
                    </div><td>50</td><td>50</td></tr>
<tr><td>чизбургер</td><td style="text-align: left">
                            <div class="catalog__qty text-center">
                        <a href="#" class="jq-dec btn btn btn-default" style="margin-right:7px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="1 1 14 14">
                                <path d="M1 7h14v2H1z"></path>
                            </svg>
                        </a><span class="jq-input catalog__qty-value">0</span>
                        <a href="https://www.google.com" class="jq-inc btn btn-default" style="margin-left:5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="1 1 14 14">
                                <path d="M15 7H9V1H7v6H1v2h6v6h2V9h6"></path>
                            </svg>
                        </a>
                    </div><td>50</td><td>50</td></tr>
<tr><td>кока-кола</td><td style="text-align: left">
                            <div class="catalog__qty text-center">
                        <a href="#" class="jq-dec btn btn btn-default" style="margin-right:7px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="1 1 14 14">
                                <path d="M1 7h14v2H1z"></path>
                            </svg>
                        </a><span class="jq-input catalog__qty-value">0</span>
                        <a href="https://www.google.com" class="jq-inc btn btn-default" style="margin-left:5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="1 1 14 14">
                                <path d="M15 7H9V1H7v6H1v2h6v6h2V9h6"></path>
                            </svg>
                        </a>
                    </div><td>70</td><td>70</td></tr>
<tr><td>макфлури</td> <td style="text-align: left">
                            <div class="catalog__qty text-center">
                        <a href="#" class="jq-dec btn btn btn-default" style="margin-right:7px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="1 1 14 14">
                                <path d="M1 7h14v2H1z"></path>
                            </svg>
                        </a><span class="jq-input catalog__qty-value">0</span>
                        <a href="https://www.google.com" class="jq-inc btn btn-default" style="margin-left:5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="1 1 14 14">
                                <path d="M15 7H9V1H7v6H1v2h6v6h2V9h6"></path>
                            </svg>
                        </a>
                    </div>

                    </td><td>100</td><td>100</td></tr>
</table>
<p class="text-center top-15 summa">ИТОГОВАЯ СТОИМОСТЬ - 280  руб</p>
    </div>

		<div class="row top-15 bottom-15;">
		<div class="col-md-3"></div>
			<div class="cover col-md-4 col-xs-4">
				<form>
				<p class="contact"><label for="comment">комментарий к заказу</label></p>
				<textarea name="comment" id="comment" tabindex="4" rows="7" cols="35"></textarea> <br>
				<input class="btn btn-default" name="submit" id="submit" tabindex="5" value="Отправить" type="submit">
				</form>
			</div>
			<div class="col-md-4 col-xs-4"></div>
		</div>
		<div class="row text-center top-30 bottom-15">
				<div class="col-md-4 col-xs-4"></div>
				<div class="col-md-4 col-xs-4"><a class="line big sentOrder btn btn-danger btn-lg" href="#">Отправить заказ</a></div>
				<div class="col-md-4 col-xs-4"></div>
			</div>
    </div>
    <script>
        $(document).ready(function() {
            var state = 'off';

            $('.line').on('click', function() {
                // TOGGLE
                if (state == 'on') {
                    state = 'off';
                    // change text
                    $('.line').html('отправить заказ');
                    // change color


                } else {
                    // change text
                    $('.line').html('Заказ принят');
                    state = 'on';
                    // change color

                }

            });

        });

    </script>

    <script>
        var numCount = document.getElementById('num_count');
        var plusBtn = document.getElementById('button_plus');
        var minusBtn = document.getElementById('button_minus');
        plusBtn.onclick = function() {
            var qty = parseInt(numCount.value);
            qty = qty + 1;
            numCount.value = qty;
        }
        minusBtn.onclick = function() {
            var qty = parseInt(numCount.value);
            qty = qty - 1;
            numCount.value = qty;
        }

    </script>


</div> -->
